<ul class="nav justify-content-end">
  <a class="navbar-brand text-center" href="#">Navbar</a>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>  
</ul>